# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Data files
*.xlsx
SE_Exam_Requirements_by_State.xlsx

# Folders to ignore
Archived/
CA DCA downloads/
Github Repo/
Offline Processing/
Other States Data/
